.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  background-image: url("https://obalky.kosmas.cz/ReviewCovers/221652_base.jpg");
}

header {
  padding: 30px 0 0;
  margin: 75px 30px;
  border-bottom: solid;
  background-image: url("http://www.nejlepsi-pritel-cloveka.estranky.cz/img/articles/8.jpg");
  font-family: cursive;
  color: #aa58f8;
  text-align: justify;
  text-decoration: underline;
  border-style: 3px dashed #f9f70f;
}

footer {
  border-top: solid;
  clear: both;
  background-color: #46f80f;
  font-family: cursive;
  text-align: justify;
  text-decoration: underline;
  border-style: 3px dashed #f9f70f;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  background-color:#ffbd1f;
  font-family: cursive;
  text-align: justify;
  border-style: 3px dashed #46f80f
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
  background-color: #f9f70f;
  font-family: cursive;
  text-align: justify;
  border-style: 3px dashed #46f80f;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
